<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Livoni warehouse</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <!-- <ion-buttons slot="primary">
      <ion-button (click)="refreshData()" fill="solid" color="secondary">
        Vernieuw
        <ion-icon slot="end" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content ion-padding> 
      <ion-grid>
          <ion-segment [(ngModel)]="section" (ionChange)="onFilterUpdate($event)">
              <ion-segment-button value="scan" (click)="clearValues()" checked>Scannen</ion-segment-button>
              <ion-segment-button value="search" (click)="clearValues()">Zoeken</ion-segment-button>
              <ion-segment-button value="create" (click)="clearValues()">Aanmaken</ion-segment-button>
            </ion-segment>
            <ion-col>
            <div *ngIf="this.scan === 1">        
            <ion-list>
            <ion-list-header color="primary">Scan uw artikel</ion-list-header>
            <ion-item (click)="scanCode()">
                <ion-label color="black">Barcode</ion-label>
                <ion-input type="text" [(ngModel)]="article.BarCode" text-right readonly></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="black">Code</ion-label>
              <ion-textarea type="text" [(ngModel)]="article.ArticleCode" readonly></ion-textarea>
          </ion-item>
            <ion-item>
                <ion-label color="black">Artikel</ion-label>
                <ion-textarea type="text" rows="4" placeholder="omschrijving..."   [(ngModel)]="article.Description" readonly></ion-textarea>
            </ion-item>
              <ion-list>
                  <ion-list-header color="primary">   <span text-left>Locaties</span>
                    <span text-right class="amount-header-right location-amount">Aantal</span></ion-list-header> 
                  <ion-item *ngFor="let location of article.locations; let i = index">
                    <ion-item>
                        <ion-icon (click)="removeLocation(i)" slot="start" name="trash"></ion-icon>
                      <ion-input type="text" placeholder="Lokatie..." [(ngModel)]="location.Location"></ion-input>
                  </ion-item>
                  <ion-item>
                      <ion-input type="number" [(ngModel)]="location.Amount" text-right placeholder="0"></ion-input>
                  </ion-item>
                  </ion-item>
                  <ion-item  class="add-location" >
                    <ion-button (click)="addNewLocation()" [disabled]="article.BarCode === ''" >
                      <ion-icon slot="icon-only" name="add-circle"></ion-icon>
                    </ion-button>
                  </ion-item>
              </ion-list>
            </ion-list>
            <ion-grid>
                <ion-row>
                  <ion-col col-3>
                      <ion-button size="medium" (click)="scanCode()" expand="block">Scannen</ion-button>
                  </ion-col>
                  <ion-col col-6>

                  </ion-col>
                  <ion-col col-3><ion-button size="medium" (click)="saveArticle2()" expand="block">Opslaan</ion-button></ion-col>
                </ion-row>
              </ion-grid>
                </div>
                <div *ngIf="this.scan === 2">
                  <ion-searchbar (ionInput)="getItems($event)" [(ngModel)]="searchTerm" placeholder="zoeken" autocomplete animated></ion-searchbar>
                  <ion-list>
                    <ion-list-header color="primary">   <span text-left>Product</span>
                    </ion-list-header> 
                    <ion-item *ngFor="let item of filteredItems" (click)="getSelectedArticle(item)">
                            <ion-label color="black">{{item.Description}}</ion-label>

                    </ion-item>
                  </ion-list>
                </div>
                <div *ngIf="this.scan === 3">
                  <ion-list>
                    <ion-list-header color="primary">Nieuw Product</ion-list-header>
                    <ion-item>
                        <ion-label color="black">Barcode</ion-label>
                        <ion-input type="text" [(ngModel)]="article.BarCode" (click)="scanNewCode()" placeholder="Scan een barcode..." text-right></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label color="black">Code</ion-label>
                      <ion-textarea type="text" [(ngModel)]="article.ArticleCode"></ion-textarea>
                  </ion-item>
                    <ion-item>
                        <ion-label color="black">Artikel</ion-label>
                        <ion-textarea type="text" rows="4"   [(ngModel)]="article.Description"></ion-textarea>
                    </ion-item>
                    <ion-list>
                      <ion-list-header color="primary">   <span text-left>Locaties</span>
                        <span text-right class="amount-header-right location-amount">Aantal</span></ion-list-header> 
                      <ion-item *ngFor="let location of article.locations; let i = index">
                        <ion-item>
                            <ion-icon (click)="removeLocation(i)" slot="start" name="trash"></ion-icon>
                          <ion-input type="text" placeholder="Lokatie..." [(ngModel)]="location.Location"></ion-input>
                      </ion-item>
                      <ion-item>
                          <ion-input type="number" [(ngModel)]="location.Amount" text-right placeholder="0"></ion-input>
                      </ion-item>
                      </ion-item>
                      <ion-item  class="add-location" >
                        <ion-button (click)="addNewLocation()" [disabled]="article.BarCode === ''">
                          <ion-icon slot="icon-only" name="add-circle"></ion-icon>
                        </ion-button>
                      </ion-item>
                    </ion-list>
                    </ion-list>
                    <ion-grid>
                        <ion-row>
                          <ion-col col-3>
                              <ion-button size="medium" (click)="scanNewCode()" expand="block">Scannen</ion-button>
                          </ion-col>
                          <ion-col col-6>
        
                          </ion-col>
                          <ion-col col-3><ion-button size="medium" (click)="saveNewArticle2()" expand="block">Aanmaken</ion-button></ion-col>
                        </ion-row>
                      </ion-grid>
                  </div>
    
            </ion-col>

      </ion-grid>

</ion-content>
